


/* RecipeList styles */
.recipe-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
  justify-content: center;
}

@media (max-width: 600px) {
  .recipe-list {
    grid-template-columns: 1fr;
  }
}


/* RecipeCard styles */
.recipe-card {
  margin: 20px;
}

@media (max-width: 768px) {
  .recipe-card {
    margin: 10px;
  }
}



